body{
    background: url(fondoOficial.png);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(151, 157, 162);
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgb(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
