/* Estilos generales del body */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

/* Contenedor para la imagen de fondo */
.background-image {
    background: url(fondoOficial.png) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: filter 1s ease-in-out;
}

/* Estilos para el splash screen */
.splash-screen {
    position: fixed;
    inset: 0; 
    background-color: rgba(8, 31, 60, 0.9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

/* Estilo del nombre de la marca */
.brand-name {
    font-family: "Satisfy", cursive;
    color: rgb(254, 254, 254);
    font-size: 8em;
}

/* Estilos para la navbar */
.navbar {
    background-color: white;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
    margin-top: 20px;
    max-width: 500px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-custom .container-fluid {
    display: flex;
    padding: 0;
}

/* Estilos para la marca de la navbar */
.navbar-brand {
    font-weight: bold;
    font-family: "Satisfy", cursive;
    color: rgb(96, 172, 234);
    font-size: 2em;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: rgb(31, 90, 137);
}

/* Animación de la barra de navegación */
#mainNavbar {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Botones de Iniciar Sesión y Registrarse */
.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button,
.registro-button {
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
}

.login-button:hover,
.registro-button:hover {
    background-color: rgb(37, 56, 72);
    color: white;
}

/* Versión móvil */
@media (max-width: 991px) {
    .auth-buttons {
        flex-direction: column;
        margin-top: auto;
    }

    .auth-buttons .login-button,
    .auth-buttons .registro-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Versión escritorio */
@media (min-width: 992px) {
    .auth-buttons {
        margin-left: auto;
    }

    .login-button,
    .registro-button {
        margin-left: 10px;
        padding: 10px 30px;
    }
}

/* Añadir desenfoque al fondo cuando aparezcan los botones */
.background-image.blurred {
    filter: blur(5px);
}

/* Estilos para el recuadro central */
.central-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 900px;
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    z-index: 15;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    display: none;
    padding: 40px 30px;
}

.central-box.active {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* Sección de contenido dentro del recuadro */
.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilos para el texto */
.text-section {
    width: 100%;
    font-family: "Marcellus", serif;
    font-size: 28px;
    line-height: 1.6;
    color:rgb(8, 43, 73);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de flecha */
.btn-arrow {
    background-color: rgb(96, 172, 234);
    color: rgb(8, 43, 73);
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0px 4px 15px rgba(0, 119, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-arrow:hover {
    color: white;
    background-color: rgb(0, 67, 122);
    box-shadow: 0px 6px 20px hsla(247, 85%, 64%, 0.2);
}

.btn-arrow span {
    margin-left: 10px;
    font-size: 20px;
}
