/* Estilos generales del body */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

/* Contenedor para la imagen de fondo */
.background-image {
    background: url(fondoOficial.png) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; 
    transition: filter 1s ease-in-out; 
}

/* Estilos para el splash screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 31, 60, 0.9);
    z-index: 10;
    flex-direction: column;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

/* Estilo del nombre de la marca */
.brand-name {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 172, 234);
}

/* Estilos para la navbar */
.navbar {
    background-color: white;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
    margin-top: 20px;
    width: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para centrar el contenido en la navbar */
.navbar-custom .container-fluid {
    display: flex;
    justify-content: start; /* Alinear navbar "Mediarte" a la izquierda */
    padding: 0;
}

/* Estilos para la marca de la navbar */
.navbar-brand {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 172, 234);
}

/* Animación de la barra de navegación */
#mainNavbar {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Botones de Iniciar Sesión y Registrarse */
.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button,
.registro-button {
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
}

.login-button:hover,
.registro-button:hover {
    background-color: rgb(37, 56, 72);
    color: white;
}

/* Versión móvil */
@media (max-width: 991px) {
    .auth-buttons {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    .auth-buttons .login-button,
    .auth-buttons .registro-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Versión escritorio */
@media (min-width: 992px) {
    .auth-buttons {
        display: flex;
        position: static;
        margin-left: auto;
    }

    .login-button,
    .registro-button {
        margin-left: 10px;
        padding: 10px 30px;
    }

    /* Navbar "Mediarte" alineado a la izquierda en versión de escritorio */
    .navbar-custom .container-fluid {
        justify-content: start;
    }
}

/* Añadir desenfoque al fondo cuando aparezcan los botones */
.background-image.blurred {
    filter: blur(5px); 
}

/* Estilos para el recuadro central */
.central-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    z-index: 15;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    display: none;
    padding: 20px;
    overflow: hidden;
}

.central-box.active {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* Sección de contenido dentro del recuadro */
.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Estilos para la imagen */
.image-section {
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

/* Estilos para el texto */
.text-section {
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de flecha */
.btn-arrow {
    background-color: rgb(96, 172, 234);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.btn-arrow:hover{
    background-color: rgb(37, 56, 72);
    color: white;
}

.btn-arrow span {
    margin-left: 10px;
    font-size: 20px;
}
