/* Estilos generales del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contenedor para la imagen de fondo */
.background-image {
    background: url(fondoOficial.png) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Estilos para la navbar */
.navbar {
    background-color: white;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
    margin-top: 20px;
    width: 70%;
    max-width: 900px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para centrar el contenido en la navbar */
.navbar-custom .container-fluid {
    display: flex;
    justify-content: center;
    padding: 0;
}

/* Estilos para la marca de la navbar */
.navbar-brand {
    font-weight: bold;
    font-family: "Satisfy", cursive;
    color: rgb(96, 172, 234);
    font-size: 2em;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: rgb(31, 90, 137);
}

.auth-buttons .btn {
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 16px;
    padding: 10px 20px; 
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
    margin-left: 10px; 
}

.auth-buttons .btn:hover {
    background-color: rgb(37, 56, 72);
    color: white;
}

.meditation-card {
    width: 250px; 
    height: 350px;  
    background-color: rgba(67, 105, 228, 0.616);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}

.row {
    gap: 70px;  
    margin: 30px 0; 
    flex-wrap: wrap;
    margin-right: 100px; 
}

@media (max-width: 900px) and (min-width: 300px) {
    .row {
        margin-left: 30px;
    }
}

.card-image {
    width: 100%;    
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
}

/* Título debajo de la imagen */
.meditation-card h3 {
    font-family: "Marcellus", serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Animación al acercar el cursor */
.meditation-card:hover {
    transform: scale(1.05);
    background-color: rgba(39, 52, 89, 0.622);
    backdrop-filter: blur(15px);
    cursor: pointer;
}

@media (max-width: 768px) {
    .meditacion {
        flex: 1 0 100%; 
        margin-bottom: 15px;
    }
}