/* Estilos generales del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contenedor para la imagen de fondo */
.background-image {
    background: url(fondoOficial.png) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Estilos para la navbar */
.navbar {
    background-color: white;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
    margin-top: 20px;
    width: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para centrar el contenido en la navbar */
.navbar-custom .container-fluid {
    display: flex;
    justify-content: center;
    padding: 0;
}

/* Estilos para la marca de la navbar */
.navbar-brand {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 172, 234);
    margin-right: 20px;
}

/* Botones de Iniciar Sesión y Registrarse */
.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button,
.registro-button {
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
}

.login-button:hover,
.registro-button:hover {
    background-color: rgb(37, 56, 72);
    color: white;
}