body{
    background: url(/src/client/styles/media/fondoOficial.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: rgba(17, 43, 79, 0.15);
    backdrop-filter: blur(10px);
    height: 80px;
    margin: 20px ;
    border-radius: 16px;
    padding:0.5rem;
}

  @media (max-width: 3000px) and (min-width: 1200px){
    .navbar{
    width: 800px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    }
}

.navbar-brand{
    font-weight: bold;
    font-family: "Satisfy", cursive;
    color: rgb(96, 172, 234);
    font-size: 2em;
    transition: color 0.3s ease;
    margin-left: 10px;
}

.navbar-brand:hover {
    color: rgb(31, 90, 137);
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgb(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.login-button, .registro-button{
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover, .registro-button:hover{
    background-color: rgb(37, 56, 72);
    color: white; 
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.offcanvas-title{
    font-weight: bold;
    font-family: "Satisfy", cursive;
    color: rgb(39, 84, 120);
    font-size: 2em; 
}

/*--------------Cards-----------*/

.meditation-card {
    width: 250px; 
    height: 350px;  
    background-color: rgba(67, 105, 228, 0.616);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.card-image {
    width: 100%;    
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
}

.meditation-card:hover {
    transform: scale(1.05);
    background-color: rgba(39, 52, 89, 0.622);
    backdrop-filter: blur(15px);
    cursor: pointer;
}

.meditation-card h5 {
    font-family: "Marcellus", serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Guardados{
    margin-bottom: 20px;
}

.Guardados h5{
    margin-top: 10px;
}