body{
    background: url(fondoOficial.png);
}

.navbar-brand{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(151, 157, 162);
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgb(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.login-button{
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: rgb(37, 56, 72);
    color: white; 
}

.registro-button{
    background-color: rgb(200, 215, 228);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.registro-button:hover{
    background-color: rgb(37, 56, 72);
    color: white;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: rgb(3, 93, 167);
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(3, 93, 167);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}






